/*computer*/
.navbar {
    width: 100%;
    height: 60px;
    flex-direction: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
border-radius: 50px;
margin-top: -10px;


 
}

.blackbody{
    background-color: #000000;
    
}
body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;


 
}
.main{
    height: 70px;
}
.m{
display: flex;
}
.b{
    height: 60px;
}
.iconbar{
   height: 30px;
   padding: 5px;
   margin: 5px;
   margin-top: 10px;
}
.a {
  display: flex;
  flex-direction: row;
    color: #000000;
    text-decoration: none;
}
.home {
    font-size: 20px;
}
.home1{
    height: 50px;
    margin: 5px;
}

.tool {
    font-size: 20px;
}
.tool1 {
    font-size: 20px;
    height: 50px;
    margin: 5px;
}
.about {
    font-size: 15px;
}
.about1 {
    font-size: 20px;
    height: 50px;
    margin: 5px;
}
.Services {
    font-size: 15px;
}
.Services1 {
    font-size: 20px;
    height: 50px;
    margin: 5px;
}
.Contact {
    font-size: 15px;
}
.Contact1 {
    font-size: 20px;
    height: 50px;
    margin: 5px;
}
.a{
    border-radius: 50px;
}

.a:hover {
    color: #0a78ff;
    transition: ease-out 0.9s;
    background-color: rgba(0, 0, 0, 0.168);

}

/*------------------------------------*/
    .l{
    display: flex;
}

.home {
    padding: 20px;
  
    margin-top: -5px;
}
.tool{
    padding: 20px;
    margin-top: -5px;
}
.about{
    padding: 17px;
    margin-top: 0px;
}
.Services{
    padding: 17px;
    margin-top: 0px;}
.Contact{
    padding: 17px;
    margin-top: 0px;
}

a {
    text-decoration: none;
}

/*---------------------custom-alert-------------------------------------------*/
.xx{
    width: 100%;
        display: flex; justify-content: end;
        margin-top: 2px;
        margin-left: 1px;
}
#x{
    width: 40px;
    height: 40px;
   border-radius: 50px;
  margin-top: 30px;
  background-color: transparent;

}
.aa {
    color: #000000;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    text-align: start;
    margin-left: 20px;
}
.aa:hover{/*phone*/
    color: rgba(67, 146, 241, 1);
    transform: 0.5s;
}
.custom-alert {
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0px 1000px rgba(0, 0, 0, 0.381);
 width: 70%;
 height: 100%;
    display: none;
}
.custom-alert button {
    color: #ffffff;
    border: none;
    margin: 30px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}
.alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.755);
    z-index: 999;
}
.show-alert-button:hover{
    transform: scale(1.1) ;
    transition: 0.5s;
}
.show-alert-button {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 0px;
    background: none;
    border: none;
    transition: 0.1s;
}
/**---------------------------------------*/
.menu_img {
    width: 25px;
    height: 20px;
}
.logo{
    display: none;
    height: 60px;
    width: auto;
    margin-top: px;
    filter: drop-shadow(1px 4px 2px );
    background-color: transparent;
}
footer {
    display: flex;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.149);
    text-align: center;
padding: 10px;
    bottom: 0;
    width: 100%;
    display: none;
}

/* phone*/
@media (max-width: 600px) {

   
    .main{
        height: 70px;}

    .logo{
        display: block;
    }
    .phonebar{
        width: 100%;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: flex;
        border-radius: px;
        position: fixed;
        background-color: #ffffff;
  
    }
    .show-alert-button {
        display: block;
    }
    .a {
        display: none;
    }
    .navbar {
        display: none;
    }

}

