.navbar {
    width: 100%;
    height: 60px;
  
  background:  rgba(67, 146, 241, 1);
    display: flex;
    flex-direction: flex;

    display: flex;
    justify-content: space-between;
    align-items: center;


}
    .m{
    display: flex;
}
    .l{
    display: flex;
}
.b{
    height: 60px;
    width: 150px;
    margin: 1px;
}
.home {
    padding: 17px;
    margin-top: 0px;
    color: red;
}
.tool{
    padding: 17px;
    margin-top: 0px;
}
.about{
    padding: 17px;
    margin-top: 0px;
}
.Services{
    padding: 17px;
    margin-top: 0px;}
.Contact{
    padding: 17px;
    margin-top: 0px;
}


.a:hover {
  
    color: red;
    transition: 0.5s;
}
.a {

    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
  

   
}
a {
    text-decoration: none;
 

}

body {
    font-family: Arial, sans-serif;

}




/*---------------------custom-alert-------------------------------------------*/
.xx{
    width: 100%;
        display: flex; justify-content: end;
        margin-top: 2px;
        margin-left: 1px;
}
#x{
    width: 40px;
    height: 40px;
   border-radius: 50px;
  margin-top: -20px;
}
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    width: 70%;
    height: 300px;
    display: none;
}

.custom-alert button {
    color: #ffffff;
    border: none;
    padding: 1px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 50px;

}



.alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.755);
    z-index: 999;

}
.show-alert-button:hover{
    transform: scale(1.1) ;
    transition: 0.5s;
}

.show-alert-button {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 0px;
    background: none;
    border: none;
    transition: 0.1s;
}

.menu_img {
    width: 25px;
    height: 20px;
}
/**---------------------------------------*/

.logo{
    display: none;
    width: 150px;
    height: 150px;
    margin-top: -40px;
    filter: drop-shadow(1px 4px 2px );
}


main{
    color: #000000;
    padding: 0rem;


}


footer {
    
    display: flex;

    display: none;

    color: #000000;
    text-align: center;
  
    position: fixed;
    bottom: 0;
    width: 100%;

}
@media (max-width: 600px) {
    .main{
        height: 70px;

    
    }

    .logo{
        display: block;
     
    }

    
    .phonebar{
        width: 100%;
        width: 100%;
        height: 60px;

        display: flex;
        flex-direction: flex;
        border-radius: 5px;
        position: fixed;
        background-color: rgba(67, 146, 241, 1);
 
    }
    .show-alert-button {
        display: block;
    }

    .a {
        width: 80px;
        height: 29px;
        border-radius: 0px;
        color: aliceblue;
        text-decoration: none;
        background-color: rgba(67, 146, 241, 1);;
        display: none;
    }
    .navbar {
      
        width: 100%;
        height: 50px;
        background-color:  rgba(67, 146, 241, 1);
        display: flex;
        flex-direction: column;
        display: none;


    }

}

.aa {
    color: #000000;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
}
.aa:hover{
    color: rgba(67, 146, 241, 1);;
    transform: 0.5s;
}
