.navbar {
    width: 100%;
    height: 60px;
    background-color: #22e684;
    display: flex;
    flex-direction: flex;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .m{
    display: flex;
}
    .l{
    display: flex;
}
.b{
    height: 60px;
    width: 150px;
    margin: 1px;
}
.b:hover{
    background-color: #000000;
}

.a:hover {
  
    background-color: rgba(255, 255, 255, 0.587);
    transition: 1s;
}
.a {

    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    background-color: #22e684;
    padding: 17px;
}
a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;

}




/*---------------------custom-alert-------------------------------------------*/
.xx{
    width: 100%;
        display: flex; justify-content: end;
        margin-top: 20px;
       
}
#x{
    width: 40px;
    height: 40px;
   border-radius: 50px;

  color: white;

 
  margin-top: -20px;

    
}
.custom-alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000076;
    /* Red background color */
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.555);
 
    width: 70%;
    height: 300px;
    display: none;


}

.custom-alert button {
    background-color: #7be69a;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 50px;

}
/*
.custom-alert button:hover {
    background-color: #10f81f9a;
    transition: 1.5s;
}

*/


.aa:hover {
    background-color: #ffffff;
    transform:  scale(0.9);
    transition: 1s;
}

.alert-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.755);
    

    z-index: 999;

}
.show-alert-button:hover{
 
    transform:  scale(1.1);
    transition: 1s;
   
}

.show-alert-button {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50px;
 
    border: none;
   
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;


    position: fixed;

    right: 0px;
    background: none;
    border: none;
 /*   cursor: pointer;*/

    transition: 0.1s;
}

.menu_img {
    width: 25px;
    height: 20px;
}
/**---------------------------------------*/

.logo{
    display: none;
    width: 150px;
    height: 150px;
    margin-top: -40px;
}


main{
    color: #000000;
    padding: 1rem;

}


footer {
    
    display: flex;

    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 600px) {

    .logo{
        display: block;
    }

    
    .phonebar{
        width: 100%;
        width: 100%;
        height: 60px;
        background-color: #22e684;
        display: flex;
        flex-direction: flex;
        border-radius: 5px;
        position: fixed;
 
    }
    .show-alert-button {
        display: block;
    }

    .a {
        width: 80px;
        height: 29px;
        border-radius: 0px;
        color: aliceblue;
        text-decoration: none;
        background-color: rgb(156, 170, 170);
        display: none;
    }
    .navbar {
      
        width: 100%;
        height: 50px;
        background-color: rgb(221, 171, 171);
        display: flex;
        flex-direction: column;
        display: none;


    }

}

.aa {
    background-color: #e67e22;
    color: #000000;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    
   


}