body {
    font-family: "Tomorrow", sans-serif;
    margin: 0;
    padding: 0;

    
}
header {
    color: white;
    padding: 10px 0;
    text-align: center;
    background-color: #007BFF;


}
a{
    color: #1f48ffcb;
    padding: 5px;
  
}
li{
    color: red;
    height: 30px;

    margin: 2px;
    border-radius: 20px;
    padding: 10px;
}
a:hover{
    color: #0060c6;
  
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    color: #ffffff;
}
h2 {
    color: #ffffff;
    margin-top: 30px;
}
p {
    line-height: 1.6;
}
.service {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}